body {
    font-family: 'Roboto', 'Times New Roman';
    margin: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}

.header-start {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 15px;
}

.header-links {
    display: flex;
    gap: 15px;
}

.hero {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 120px;
    margin-top: 110px;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

#hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#hero-img {
    background-color: grey;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 130px;
    padding-right: 130px;
    text-wrap: nowrap;
}

.sign-up-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.box-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 120px;
}

.boxes {
    display: flex;
    gap: 50px;
}

.box {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
    border: solid 3px #3882F6;
    border-radius: 10px;
}

.box-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    width: auto;
    gap: 10px;
}

#box-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.quote-content {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    gap: 10px;
    margin-left: 325px;
    margin-right: 325px;
    margin-bottom: 100px;
    justify-content: left;
}

#quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

#quote-attribution {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}

.cta-section {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    background-color: #3882F6;
    border-radius: 5px;
}

.cta-content {
    display: flex;
    flex-direction: row;
    margin: 50px;
    margin-left: 120px;
    margin-right: 120px;
    align-items: flex-end;
    justify-content: space-between;
}
.cta-text {
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

#cta-header {
    color: #F9FAF8;
    margin: 0;
}

#cta-button {
    border: solid 2px #E5E7EB;
    
}

.footer {
    background-color: #1F2937;
}

#footer-text {
    color: #E5E7EB;
    text-align: center;
    padding: 30px;
}
button {
    background-color: #3882F6;
    border-radius: 5px;
    border-style: hidden;
    color: #E5E7EB;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 22px;
    padding-right: 22px;
    height: auto;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}



