body {
    font-family: 'Roboto', 'Times New Roman';
}

.content-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}

.header-start {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 15px;
}

.header-links {
    display: flex;
    gap: 15px;
}

.hero {
    display: flex;
    gap: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 120px;
    margin-top: 120px;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

#hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#hero-img {
    background-color: grey;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 130px;
    padding-right: 130px;
    text-wrap: nowrap;
}

.sign-up-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.box-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 160px;
}

.boxes {
    display: flex;
    gap: 50px;
}

.box {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    border: solid 3px #3882F6;
    border-radius: 10px;
}

.box-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    width: auto;
    gap: 10px;
}

#box-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    border-style: hidden;
    color: #E5E7EB;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 22px;
    padding-right: 22px;
    
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

img {
    margin: ;
}


